@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  color: #000000;
  background-color: #ffffff;
}

.main-header {
color: #000000;
background-color: #ffffff;
}

.navigation-link {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  color: inherit;
  background-color: inherit;
}

.visually-hidden {
  visibility: hidden;
}

.navigation-list {
  list-style: none;
}

.navigation-search {
  background: url("../images/icons/navigation/search.svg") 18px no-repeat;
}

.navigation-select {
  background: url("../images/icons/navigation/select.svg") 20px no-repeat;
}

.button {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.button-base {
  background-color: #756157;
}

.button-base-big {
  font-size: 20px;
  line-height: 36px;
}

.button-additional {
  background-color: #82B3D3;
}

.active {
  background-color: #7DB54F;
}

.button-reset {
  background-color: rgba(28,28,28,0);
}

.hero-logo-group {
  background: #83B3D333 url("../images/pictures/mountains_hero_background.jpg") no-repeat;
  background-size: 1200px 485px;
  width: 1200px;
  height: 485px;
}

.advantages-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

.advantages-content {
  background-color: #82B3D3;
}

.advantages-list {
  list-style: none;
}

.advantages-list-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-list-title-white {
  color: #FFFFFF;
}

.advantages-list-description-white {
  color: #FFFFFF;
}

.advantages-item-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.20);
}
/*цвет должен быть слегка разным, а он одинаковый, или?..*/

.newsletter-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.newsletter-title-white {
color: #FFFFFF;
}

.newsletter-description {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
}

.newsletter-description-white {
  color: #FFFFFF;
}

.newsletter-background {
  background: #756157 url("../images/pictures/newsletter_main_background.jpg") no-repeat;
  background-size: 1200px 415px;
  width: 1200px;
  height: 415px;
}

.socials-list {
  list-style: none;
}

.inner-header {
  background-color: #756157;
}

/*как мне сделать один фон и дл шапки, и для фильтров?*/

.catalog-products {
  background-color: #756157;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs-link-home {
  background: url("../images/icons/breadcrumbs/breadcrumbs_home.svg") no-repeat;
  background-size: 12px;
}

.arrow {
  background: url(../images/icons/breadcrumbs/breadcrumbs_arrow.svg) no-repeat;
  background-size: 6px 10px;
}

.breadcrumbs-item {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #FFFFFF;
}

.catalog-filter-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.catalog-filter-list {
  list-style: none;
}

.catalog-filter-item {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  color: #FFFFFF;
}

.found-hotels {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.product-list {
  list-style: none;
}

.product-name {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.product-card-link {
  color: #000000;
  text-decoration: none;
}

.product-type {
  color: #333333;
}

.product-price {
  color: #333333;
}

.rating {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  }

.classification {
  background: url("../images/icons/star_blue.svg") no-repeat;
  /*не понимаю, как повторять звездочки нужное количество раз*/
}

.pagination {
  list-style: none;
}

.pagination-link {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-inactive {
  color: #000000;
  background-color: #FFFFFF;
}
